import Test1 from "./components/Test1.marko"
import Test2 from "./components/Test2.marko"

<div class="logo">
  <img src="../public/markojs-icon.svg" alt="Marko" style="width:100%"/>
</div>
<div class="content">
  <Test1 id="marko_drag_and_drop"/>
  <div class="divider"/>
  <Test2 id="marko_use_drag_and_drop"/>
</div>
