import { animations } from "@formkit/drag-and-drop";

static const config = { plugins: [animations()] };

<let/tapes=[
  "Depeche Mode",
  "Duran Duran",
  "Pet Shop Boys",
  "Kraftwerk",
  "Tears for Fears",
  "Spandau Ballet",
]>

<ul/parent>
  <for|tape| of=tapes by=(t => t)>
    <li class="cassette">${tape}</li>
  </for>
</ul>

<dnd:=tapes parent=parent config=config/>
