html,
body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  background-color: var(--light-main);
  color: var(--dark-main);
}

* {
  box-sizing: border-box;

  *::before,
  *::after {
    box-sizing: inherit;
  }
}

.main-layout {
  margin: 3em 0;
  position: relative;
  z-index: 0;
}
