@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
  scroll-padding: 1em;
}

body {
  @apply text-base;
  @apply font-sans;
  @apply bg-lime-50;
  @apply selection:bg-emerald-500;
  @apply selection:text-white;
  @apply selection:mix-blend-normal;
}
html.dark body {
  @apply bg-emerald-950;
  @apply selection:bg-emerald-600;
}
/* html body::before {
  @apply opacity-40;
  @apply contrast-[200%];
  @apply mix-blend-multiply;
  @apply brightness-[140%];
  @apply grayscale;
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: radial-gradient(
      circle at 50% 40%,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.25)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='10' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
html.dark body::before {
  @apply opacity-100;
  @apply mix-blend-multiply;
  @apply contrast-[150%];
  @apply brightness-[70%];
} */
