@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
  scroll-padding: 1em;
}

body {
  @apply text-base;
  @apply font-sans;
  @apply bg-lime-50;
  @apply selection:bg-emerald-500;
  @apply selection:text-white;
  @apply selection:mix-blend-normal;
}
html.dark body {
  @apply bg-emerald-950;
  @apply selection:bg-emerald-600;
}
html body::before {
  content: "";
  position: fixed;
  z-index: -1;
  inset: 0;
  background-color: #e5e5f7;
  opacity: 0.035;
  mix-blend-mode: multiply;
  background-image: linear-gradient(
      30deg,
      green 12%,
      transparent 12.5%,
      transparent 87%,
      green 87.5%,
      green
    ),
    linear-gradient(
      150deg,
      green 12%,
      transparent 12.5%,
      transparent 87%,
      green 87.5%,
      green
    ),
    linear-gradient(
      30deg,
      green 12%,
      transparent 12.5%,
      transparent 87%,
      green 87.5%,
      green
    ),
    linear-gradient(
      150deg,
      green 12%,
      transparent 12.5%,
      transparent 87%,
      green 87.5%,
      green
    ),
    linear-gradient(
      60deg,
      green 25%,
      transparent 25.5%,
      transparent 75%,
      green 75%,
      green
    ),
    linear-gradient(
      60deg,
      green 25%,
      transparent 25.5%,
      transparent 75%,
      green 75%,
      green
    );
  background-size: 100px 175px;
  background-position: 0 0, 0 0, 50px 90px, 50px 90px, 0 0, 50px 90px;
}
